<div class="container">
  <%= form_with(model: banking_system) do |form| %>
    <% if banking_system.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(banking_system.errors.count, "error") %> prohibited this banking_system from being saved:</h2>

        <ul>
          <% banking_system.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="form-group">
      <%= form.label :name %>
      <%= form.text_field :name ,class:'form-control' %>
    </div>
    <br>
    <div class="form-group">
      <%= form.label :email %>
      <%= form.text_field :email ,class:'form-control' %>
    </div>
    <br>
    <div class="form-group">
      <%= form.label :current_balance %>
      <%= form.text_field :current_balance ,class:'form-control' %>
    </div>
    <br>
    <div class="form-group">
      <%= form.submit "Submit", class: 'btn btn-primary' %>
    </div>
  <% end %>
</div>
